*{
  margin: 0;
  padding: 0;
}
body{
    font-size: 14px;
    color: #767474;
    position: relative;
    font-family: 'Kanit', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html,body{
  min-height:99%;
}
a{color: #a9fd00;}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {color: #a9fd00;text-decoration: none;}
.wrap-main{
  min-height: 100%;
  overflow: hidden;
  padding-bottom: 65px;
}
.st-logo{
  padding: 25px;
}
.st-logo img{
  width: 180px;
}
.st-head-name{
  padding: 25px;
  text-align: center;
  color: #fff;
}
.st-wrap-main{
  min-height: 600px;
  background: rgba(0,0,0,0.9);
  border: 4px solid #242834;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}
.st-wrap-footer{
  min-height: 200px;
  background: rgba(0,0,0,0.9);
  border: 4px solid #242834;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
  position: relative;
}
#time-login{
    position: absolute;
    right: 34px;
    top: 40px;
    font-size: 12px;
}
.media-game{
  margin-top: 15px !important;
  position: relative !important;
  border-bottom: 1px solid #242834;
  padding-bottom: 8px;
}
.media-game .media-heading{
  width: 100%;
  max-width: 280px;
}
.load i{
  font-size: 24px;
}
.load{
  width: 100%;
  text-align: center;
  padding: 25px;
  font-size: 14px;
}
.media-game .media-body h5 span.sprice{
  text-decoration: line-through;
  font-size: 9px;
  margin-right: 8px;
}
.media-game .media-body h5 span.discount{
  font-size: 12px;
  color: #000000;
  padding: 3px;
  background-color: #a9fd00;
  position: absolute;
  right: 10px;
  bottom: 15px;
}
.media-game-btn{
  position: absolute;
  right: 10px;
  top: 2px;
}
.wrap-media-game{
  padding: 35px 10px;
}
.wrap-cart{
  border-left: 1px solid #242834;
  min-height: 600px;
}
.wrap-media-cart {
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid;
}
.media-close{
  position: absolute;
  color: #fdfdfd;
  opacity: 0.7;
  top: 0;
  right: 0;
}
nav{
  width: 100%;
  height: 55px;
  background: #242834;
  margin-bottom: 45px;
}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  color: #fff;
  padding: 15px 25px;
}
nav ul li a{
  color: #fff;
}
nav ul li.active a{
  color: #a9fd00;
}
footer{
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: 25px;
}
ul.list-true{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}
ul.list-true li{
  display: block;
  width: 100%;
  min-height: 25px;
  padding: 3px;
  position: relative;
}
ul.list-true li span{
  position: absolute;
  right: 10px;
}
ul.list-true li.true-success{
  color: #a9fd00;
}
ul.list-true li.true-danger{
  color: #da032d;
}
.form-control {
    color: #000!important;
    background-color: #f5f5f5!important;
}